.body{
    margin: 0px;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url("resources/background2.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}
.boy{
    height: 260px;
    margin-top: 382px;
    position: absolute;
}